.team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
}

.member {
  text-align: center;
}

.member img {
  width: 75%;
  margin: 0 auto;
}

.member p {
  margin-bottom: 0;
}
